
#search-results {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 6px;
}

.search-item {
  cursor: pointer;
}

.search-item.active,
.search-item:hover {
  background-color: #0d6efd;
  color: #fff;
}

.search-item mark {
  background: #ffe066;
  padding: 0 2px;
}







/* HERO SECTION */

.hero {
  background: #16002b;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}


.hero-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.hero-subtitle {
  color: #c9b3ff;
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 64px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-description {
  color: #bfbfbf;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Buttons */

.btn {
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-primary {
  background: linear-gradient(90deg, #ff00cc, #ff8800);
  color: white;
}

.btn-primary:hover {
  opacity: 0.85;
}

.btn-outline {
  border: 1px solid #aaa;
  color: #ddd;
}

.btn-outline:hover {
  background: #ffffff35;
  color:white;
}







/* ABOUT SECTION */

.about {
  background: #16002b;
  padding: 100px 20px;
  color: #fff;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 60px;
  align-items: center;
}

/* Image */

.about-image {
  position: relative;
}

.about-image img {
  width: 100%;
  max-width: 380px;
  border-radius: 25px;
}

/* Badge */

.about-badge {
  position: absolute;
  bottom: -20px;
  right: -20px;
  background: #fff;
  color: #000;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* Content */

.about-subtitle {
  color: #c9b3ff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.about-title {
  font-size: 42px;
  margin-bottom: 20px;
}

.about-text {
  color: #bbb;
  margin-bottom: 30px;
  line-height: 1.7;
}

/* Cards */

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.about-card {
  background: #ffffff08;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #ffffff10;
}

.about-icon {
  font-size: 26px;
  margin-bottom: 10px;
}

.about-card h3 {
  margin-bottom: 8px;
}

/* Tools */

.about-tools p {
  margin-bottom: 10px;
  color: #aaa;
}

.tool-list {
  display: flex;
  gap: 15px;
}

.tool-list img {
  width: 36px;
  height: 36px;
  background: #ffffff10;
  padding: 6px;
  border-radius: 8px;
}



